@action-width: 25px;

.bullet-point {
  position: relative;
  padding: 2px 0 0;
  z-index: 1;
  font-size: 16px;

  &-action {
    width: @action-width;
    height: 20px;
    float: left;
    color: #333;
    position: relative;
    z-index: 5;
    padding-top: 3px;

    &-handle {
      width: 20px;
      height: 20px;
      line-height: 20px;
      display: inline-block;
      float: left;
      text-align: center;
      font-size: 16px;
      border-radius: 100%;
      cursor: pointer;
      font-family: Arial;

      &:hover {
        background: #c1c1c1;
        color: #fff;
      }

      &::after {
        font-size: 24px;
        content: "•";
        color: rgba(0, 0, 0, .6);
        display: inline-block;
      }

      &-expand {
        &::after {
          content: "－";
          font-size: 14px;
        }
      }

      &-collapse {
        &::after {
          font-size: 18px;
          content: "+";
        }
      }
    }

  }

  &-content {
    position: relative;
    margin-left: @action-width;
    z-index: 5;
    padding-top: 2px;
  }

  &-children {
    margin-top: 2px;
    margin-left: 10px;
    padding-left: 20px;
    position: relative;
    z-index: 5;
    border-left: 1px solid #eee;
  }
}
